---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/CardExp.astro';
import NavBar from '../../components/NavBar.astro';
---

<Layout title="Proyectos Realizados de Fran Rubio - FullStack Developer" description='Estos son los proyectos realizados por Fran Rubio como Desarrollador Full Stack' >
	<main>
		<header>
		<NavBar></NavBar>
		</header>
	</main>
</Layout>

